<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tailwind Admin Starter Template : Tailwind Toolbox</title>
    <meta name="description" content="Tailwind CSS Starter template - Admin theme, dashboard, or web application UI!">
    <meta name="keywords" content="tailwind,tailwindcss,tailwind css,css,starter template,free template,fixed header, admin starter template, admin template, admin console, example">
    <link href="/css/flowbite.min.css" rel="stylesheet" />

    <link href="/css/fontawesome.all.css" rel="stylesheet">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#3b7977">
    <script src="https://cdn.tailwindcss.com"></script>


    <link rel="stylesheet" href="/css/fontawesome.all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--<link href="/css/tailwind.min.css" rel=" stylesheet">-->
    <!--Replace with your tailwind.css once created-->
    <!--Totally optional :) -->


</head>